<footer>
  <div class="f-info">
    <div class="f-info-socials">
      <i class="fa-brands fa-x-twitter"><span style="padding-left: 10px;"></span></i>
      <i class="fa-brands fa-instagram"><span style="padding-left: 10px;"></span></i>
      <i class="fa-brands fa-facebook"><span style="padding-left: 10px;"></span></i>
    </div>
    <div>
        <span class="f-info-brand">© 2024 Traverller Private Limited</span>
    </div>
    <div class="f-info-links">
      <a href="/privacy">Privacy</a>
      <a href="/terms">Terms</a>
    </div>
  </div>
</footer>